@font-face {
  font-family: "Staatliches";
  src: url(staatliches/Staatliches-Regular.ttf);
}

@font-face {
  font-family: "redhatdisplay";
  src: url(redhatdisplay/RedHatDisplay-Regular.ttf);
}

@font-face {
  font-family: "InriaSans";
  src: url(InriaSans/TTF/InriaSans-Light.ttf);
}

body{
  margin: 0 20px;
  width: auto;
}

.navbar{
  height: 60px;
  width: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.header-title{
  font-family: "Staatliches";
  font-size: 25px;
  cursor: default;
}

.header-buttons{
  display: flex;
  font-family: "redhatdisplay";
  margin: 5px;
}

.btn{
  margin: 5px;
  padding: 3px 6px;
  border-radius: 5px;
}

.btn:hover{
  cursor: pointer;
  background-color: #939393;
  color: rgb(24, 24, 24);
  transition-duration: 0.35s;
}

.divider{
  margin: 5px;
  height: 3px;
  background-color: #333;
}

.title-head{
  font-family: "redhatdisplay";
  font-size: 120px;
  font-weight: 500px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 96px;
}

.title-image{
  width:100%;
  height:auto;
  align-self: center;
  margin-bottom: 96px;
  border-radius: 28px;
}
 .grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 48px;
}

.grid-img{
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.cap{
  font-family: "InriaSans";
  font-weight: bold;
  margin-top: 8px;
  font-size: clamp(14px, 2vw, 20px);
  
}

.des{
  color: rgba(255, 255, 255, 0.60);
  font-family: "InriaSans";
  font-weight: 400;
  line-height: 0;
  font-size: clamp(13px, 1.8vw, 17px);
}
 
.blackbox{
  margin: 48px 0;
  background-color: rgb(20, 20, 20);
  padding: 254px 96px;
  border-radius: 8px;
  display: flex;            
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  text-align: center;
}
 
.explore-head{
  font-family: "redhatdisplay";
  text-align: center;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -1.28px;
  line-height: 68px;
  margin-bottom: 16px;
}

 .explore-des{
  text-align: center;
  font-family: "InriaSans";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.12px;
}

 .explore-button{
  border:none;
  background-color: red;
  padding: 12px 24px;
  color: white;
  font-family: "InriaSans";
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  justify-content: center;
  align-content: center;
}
