@font-face {
  font-family: "Staatliches";
  src: url(staatliches/Staatliches-Regular.ttf);
}

@font-face {
  font-family: "redhatdisplay";
  src: url(redhatdisplay/RedHatDisplay-Regular.ttf);
}

@font-face {
  font-family: "InriaSans";
  src: url(InriaSans/TTF/InriaSans-Light.ttf);
}

body{
  margin: 0 20px;
  width: auto;
}

.navbar{
  height: 100%;
  width: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  font-family: "Staatliches";
  font-size: 25px; 
}

.header-buttons{
  display: flex;
  font-family: "redhatdisplay";
  margin: 5px;
}

.btn{
  margin: 5px;
  padding: 3px 6px;
  border-radius: 5px;
}

.btn:hover{
  cursor: pointer;
  background-color: #555555;
  color: rgb(27, 27, 27);
  transition-duration: 0.35s;
}

.divider{
  margin: 5px;
  height: 3px;
  background-color: #333;
}

.title-head{
  font-family: "redhatdisplay";
  font-size: clamp(100px, 5vw, 120px);
  font-weight: 500;
  text-align: center;
  margin-bottom: 96px;
  height: auto;
  width: 100%;
}


.title-image{
  width:100%;
  justify-content: center;
  height:auto;
  align-self: center;
  margin-bottom: 96px;
  border-radius: 28px;
  transition: 0.75s ease;
}

.title-image:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgba(165,102,196,1);
}

 .grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 48px;
}

.grid-img{
  height: auto;
  width: 100%;
  border-radius: 8px;
  transition: 0.75s ease;
}

.one:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(130, 40, 74);
}

.two:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(34, 131, 87);
}

.three:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(160, 39, 75);
}

.four:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(33, 82, 134);
}

.five:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(77, 57, 142);
}

.six:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(153, 36, 155);
}

.seven:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(162, 55, 29);
}
.eight:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(33, 82, 134);
}
.nine:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(65, 121, 180);
}

.cap{
  font-family: "InriaSans";
  font-weight: bold;
  margin-top: 8px;
  font-size: clamp(14px, 2vw, 20px);
  
}

.des{
  color: rgba(255, 255, 255, 0.60);
  font-family: "InriaSans";
  font-weight: 400;
  line-height: 0;
  font-size: clamp(13px, 1.8vw, 17px);
}
 
.blackbox {
  margin: 48px 0;
  background-color: rgb(20, 20, 20);
  padding: 10% 5%;
  border-radius: 8px;
  display: flex;            
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  text-align: center;
}

.explore-head{
  font-family: "redhatdisplay";
  text-align: center;
  font-size:clamp(2rem, 5vw, 4rem);
  font-weight: 500;
  letter-spacing: -1.28px;
  line-height: 68px;
  margin-bottom: 16px;
}

 .explore-des{
  text-align: center;
  font-family: "InriaSans";
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.12px;
}

 .explore-button{
  border:none;
  background-color: red;
  padding: clamp(0.5rem, 1.5vw, 1rem) clamp(1rem, 3vw, 2rem);
  color: white;
  font-family: "InriaSans";
  border-radius: 8px;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 700;
  line-height: 24px;
  justify-content: center;
  align-content: center;
  transition: 0.35s;
}

.explore-button:hover{
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0px 0px 55px 11px rgb(99, 33, 33)
}

.about{
  display: flex;
  padding: 24px 0;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin: 0;
}

.abtme{
  margin: 20px 0;
  background-color: rgb(20, 20, 20);
  border-radius: 8px;
  display: flex;
  padding: 48px 0px;
  align-items: flex-start;
  gap: clamp(16px, 4vw, 48px);
}

.abtme-head{
  color: #FFF;
  font-family: "redhatdisplay";
  font-size: clamp(24px, 4vw, 48px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(28px, 5vw, 52px);
  letter-spacing: -0.48px;
  margin-left: 20px;
}

.abtme-des{
  display: flex;
  padding-top: clamp(8px, 2vw, 16px);
  flex-direction: column;
  align-items: flex-start;
  margin-left: 200px;
  margin-right: 50px;
}

.abtme-desc{
  font-family: "InriaSans";
  font-size: clamp(16px, 3vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(24px, 4vw, 32px);
  letter-spacing: -0.12px;
}

.passion{
  display: flex;
  padding: 96px 0;
  align-items: flex-start;
  background-color: rgb(20, 20, 20);
  border-radius: 8px;
  margin: 48px 0;
}

.passion-text{
  font-family: "redhatdisplay";
  font-size: clamp(24px, 4vw, 48px);
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-left: 20px;
}

.spacer{
  height: auto;
  width: 200%;
}

.card{
  display: flex;
  background: linear-gradient(180deg, rgba(20, 20, 20) 20%, rgb(80, 26, 26) 40%, rgba(20, 20, 20));
  border-radius: 28px;
  margin-bottom: 50px;
}

.card-img{
  width: 40%;
  height: auto;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}

.proj-matter{
  margin-left: 25px;
  padding-top: clamp(250px, 2vw, 350px);
  padding-bottom: clamp(250px, 2vw, 350px);
}

.proj-title{
  font-family: "redhatdisplay";
  font-size: clamp(24px, 4vw, 48px);
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 16px;
}

.proj-des{
  font-family: "InriaSans";
  font-size: clamp(16px, 3vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(24px, 4vw, 32px);
  letter-spacing: -0.12px;
}

.serv{
  background-color: rgb(20, 20, 20);
  padding: 20px;
  border-radius: 8px;
}

.serv-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.serv-img{
  height: auto;
  width: 100%;
  border-radius: 8px;
  transition: 0.5s;
}

.serv-one:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(37, 81, 132);
}

.serv-two:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(89, 37, 149);
}

.serv-three:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 55px 11px rgb(53, 29, 161);
}

.serv-title{
  font-family: "redhatdisplay";
  font-size: 36px;
}

.serv-item-head{
  font-family: "redhatdisplay";
  text-align: center;
  font-size:clamp(0.24rem, 5vw, 2rem);
  letter-spacing: -1.28px;
  margin-bottom: 1px;
}

.serv-item-des{
  text-align: center;
  font-family: "InriaSans";
  font-size: clamp(0.1rem, 2.5vw, 1.25rem);
  line-height: 32px;
  letter-spacing: -0.12px;
}

.serv-btn{
  border:none;
  background-color: red;
  padding: clamp(0.1rem, 1.5vw, 0.5rem) clamp(0.5rem, 3vw, 1rem);
  color: white;
  font-family: "InriaSans";
  border-radius: 8px;
  font-size: clamp(0.5rem, 2.5vw, 1rem);
  line-height: 24px;
  justify-content: center;
  align-content: center;
  transition: 0.35s;
}

.serv-btn:hover{
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0px 0px 55px 11px rgb(99, 33, 33)
}

.end{
  background-color: rgb(20, 20, 20);
  padding: 30px;
  margin: 48px 0;
  border-radius: 8px;
  display: flex;
}

.spacer{
  width: 50%;
  height: auto;
}

.end-desc{
  font-family: "InriaSans";
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.12px;
  text-align: right;
}

.client-review{
  background-color: rgb(20, 20, 20);
  padding: 24px 30px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.ques{
  font-family: "redhatdisplay";
  font-size: clamp(40px, 5vw, 35px);;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 24px;
}

.cards{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  gap: clamp(30px, 2vw, 10px);
}

.prof{
  display: flex;
  align-items: center;
}

.about{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.client-card{
  border: 2px solid #333;
  background-color: #171717;
  border-radius: 8px;
  transition: 0.35s;
}

.client-card:hover{
  box-shadow: 0px 0px 55px 11px rgb(75, 75, 75);
}

.profile{
  border-radius: 50%;
  padding: 15px;
  width: 20%;
  padding: 0 20;
  height: auto;
  margin-right: 20px;
}

.client-name{
  font-family: "InriaSans";
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  line-height: 0px;
  text-align: left;
}

.client-position{
  font-family: "InriaSans";
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  font-weight: 400;
  color: #4a4a4a;
  text-align: left;

}
.description{
  font-family: "InriaSans";
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight:400;
  line-height: 24px;
  text-align: left;
  margin-left: 20px;
}

.line{
  border: 1px solid #4a4a4a;
}

.prof2{
  display: flex;
  justify-self: left;
  margin: 0 30px 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.contactme{
  font-family: "InriaSans";
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 5px 10px;
  background-color: rgb(21, 21, 21);
  border: 2px solid #363636;
  border-radius: 8px;
  color: white;
}

.copyright{
  font-family: "redhatdisplay";
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  color: #4a4a4a;
  text-align: right;
}